@using DuelRecords.Blazor.Models

@code {
    [Parameter, EditorRequired] public Card Card { get; set; } = default!;
    [Parameter] public EventCallback OnClick { get; set; }
}

<div class="deck-slot filled mini-deck-card"
     @onclick="OnClick"
     title="@Card.Name">

    <CardArt Card="Card" Compact="true" />

</div>